import the required libraries

In [9]:
import pandas as pd
import re
from collections import Counter
import sqlite3

Load the Wikipedia dataset ("wikipedia_dataset.xlsx") into a Pandas dataframe anad view it

In [10]:
# 1. Download the Wikipedia data
# 2. Take a look at the first 10 entries

Wikipedia_2016 = pd.read_excel("wikipedia_dataset.xlsx")
display(Wikipedia_2016.head(10))

,Page,2016-01-01 00:00:00,2016-01-02 00:00:00,2016-01-03 00:00:00,2016-01-04 00:00:00,2016-01-05 00:00:00,2016-01-06 00:00:00,2016-01-07 00:00:00,2016-01-08 00:00:00,2016-01-09 00:00:00,...,2016-12-22 00:00:00,2016-12-23 00:00:00,2016-12-24 00:00:00,2016-12-25 00:00:00,2016-12-26 00:00:00,2016-12-27 00:00:00,2016-12-28 00:00:00,2016-12-29 00:00:00,2016-12-30 00:00:00,2016-12-31 00:00:00
0,.xxx_en.wikipedia.org_all-access_all-agents,7089,7592,7436,7032,6498,6887,7209,7022,7194,...,4931.0,4034.0,5204.0,4331.0,4572.0,4509.0,5392.0,4950.0,2931.0,4101.0
1,.xxx_en.wikipedia.org_mobile-web_all-agents,6182,6447,6437,5912,5205,5770,5998,5948,6165,...,4617.0,3663.0,4882.0,4028.0,4263.0,4176.0,5068.0,4539.0,2666.0,3754.0
2,1._Juli_de.wikipedia.org_desktop_all-agents,20,49,33,49,34,26,66,28,18,...,26.0,20.0,19.0,43.0,24.0,41.0,39.0,39.0,31.0,31.0
3,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,5363,6280,6297,6288,6052,6200,5935,5958,6200,...,3356.0,3366.0,2912.0,2850.0,3140.0,3379.0,3497.0,3338.0,3329.0,3550.0
4,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,3186,3784,3832,4059,4022,4213,3985,3823,3794,...,1719.0,1593.0,1255.0,1160.0,1311.0,1468.0,1728.0,1494.0,1515.0,1464.0
5,2014_FIFA_World_Cup_en.wikipedia.org_mobile-we...,2136,2425,2403,2171,1968,1930,1915,2071,2344,...,1603.0,1739.0,1623.0,1648.0,1797.0,1870.0,1722.0,1808.0,1783.0,2029.0
6,2015_Copa_AmÃ©rica_en.wikipedia.org_all-access...,1160,1197,838,924,878,995,940,1098,1203,...,388.0,403.0,329.0,321.0,424.0,408.0,428.0,399.0,426.0,361.0
7,2015_Copa_AmÃ©rica_en.wikipedia.org_desktop_al...,564,695,443,578,530,596,573,658,607,...,230.0,202.0,167.0,168.0,184.0,213.0,228.0,193.0,180.0,131.0
8,2015_Copa_AmÃ©rica_en.wikipedia.org_mobile-web...,580,485,390,336,338,395,357,425,575,...,157.0,200.0,157.0,152.0,234.0,188.0,197.0,203.0,243.0,228.0
9,2015_in_film_en.wikipedia.org_all-access_all-a...,54347,54784,55898,52521,42647,41312,40648,36065,38110,...,4006.0,4022.0,3929.0,4117.0,4464.0,4930.0,4697.0,4809.0,4631.0,4511.0

Print out some basic information about the dataframe

In [11]:
print(Wikipedia_2016.info(verbose = True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 367 columns):
 #    Column               Dtype
---   ------               -----
 0    Page                 object
 1    2016-01-01 00:00:00  int64
 2    2016-01-02 00:00:00  int64
 3    2016-01-03 00:00:00  int64
 4    2016-01-04 00:00:00  int64
 5    2016-01-05 00:00:00  int64
 6    2016-01-06 00:00:00  int64
 7    2016-01-07 00:00:00  int64
 8    2016-01-08 00:00:00  int64
 9    2016-01-09 00:00:00  int64
 10   2016-01-10 00:00:00  int64
 11   2016-01-11 00:00:00  int64
 12   2016-01-12 00:00:00  int64
 13   2016-01-13 00:00:00  int64
 14   2016-01-14 00:00:00  int64
 15   2016-01-15 00:00:00  int64
 16   2016-01-16 00:00:00  int64
 17   2016-01-17 00:00:00  int64
 18   2016-01-18 00:00:00  int64
 19   2016-01-19 00:00:00  int64
 20   2016-01-20 00:00:00  int64
 21   2016-01-21 00:00:00  int64
 22   2016-01-22 00:00:00  int64
 23   2016-01-23 00:00:00  int64
 24   2016-01-24 00:00:00  int64
 25   2016-01-25 00:00:00  int64
 26   2016-01-26 00:00:00  int64
 27   2016-01-27 00:00:00  int64
 28   2016-01-28 00:00:00  int64
 29   2016-01-29 00:00:00  int64
 30   2016-01-30 00:00:00  int64
 31   2016-01-31 00:00:00  int64
 32   2016-02-01 00:00:00  int64
 33   2016-02-02 00:00:00  int64
 34   2016-02-03 00:00:00  int64
 35   2016-02-04 00:00:00  int64
 36   2016-02-05 00:00:00  int64
 37   2016-02-06 00:00:00  int64
 38   2016-02-07 00:00:00  int64
 39   2016-02-08 00:00:00  int64
 40   2016-02-09 00:00:00  int64
 41   2016-02-10 00:00:00  int64
 42   2016-02-11 00:00:00  int64
 43   2016-02-12 00:00:00  int64
 44   2016-02-13 00:00:00  int64
 45   2016-02-14 00:00:00  int64
 46   2016-02-15 00:00:00  int64
 47   2016-02-16 00:00:00  int64
 48   2016-02-17 00:00:00  int64
 49   2016-02-18 00:00:00  int64
 50   2016-02-19 00:00:00  int64
 51   2016-02-20 00:00:00  int64
 52   2016-02-21 00:00:00  int64
 53   2016-02-22 00:00:00  int64
 54   2016-02-23 00:00:00  int64
 55   2016-02-24 00:00:00  int64
 56   2016-02-25 00:00:00  int64
 57   2016-02-26 00:00:00  int64
 58   2016-02-27 00:00:00  int64
 59   2016-02-28 00:00:00  int64
 60   2016-02-29 00:00:00  int64
 61   2016-03-01 00:00:00  int64
 62   2016-03-02 00:00:00  int64
 63   2016-03-03 00:00:00  int64
 64   2016-03-04 00:00:00  int64
 65   2016-03-05 00:00:00  int64
 66   2016-03-06 00:00:00  int64
 67   2016-03-07 00:00:00  int64
 68   2016-03-08 00:00:00  int64
 69   2016-03-09 00:00:00  int64
 70   2016-03-10 00:00:00  int64
 71   2016-03-11 00:00:00  int64
 72   2016-03-12 00:00:00  int64
 73   2016-03-13 00:00:00  int64
 74   2016-03-14 00:00:00  int64
 75   2016-03-15 00:00:00  int64
 76   2016-03-16 00:00:00  int64
 77   2016-03-17 00:00:00  int64
 78   2016-03-18 00:00:00  int64
 79   2016-03-19 00:00:00  int64
 80   2016-03-20 00:00:00  int64
 81   2016-03-21 00:00:00  int64
 82   2016-03-22 00:00:00  int64
 83   2016-03-23 00:00:00  int64
 84   2016-03-24 00:00:00  int64
 85   2016-03-25 00:00:00  int64
 86   2016-03-26 00:00:00  int64
 87   2016-03-27 00:00:00  int64
 88   2016-03-28 00:00:00  int64
 89   2016-03-29 00:00:00  int64
 90   2016-03-30 00:00:00  int64
 91   2016-03-31 00:00:00  int64
 92   2016-04-01 00:00:00  int64
 93   2016-04-02 00:00:00  int64
 94   2016-04-03 00:00:00  int64
 95   2016-04-04 00:00:00  int64
 96   2016-04-05 00:00:00  int64
 97   2016-04-06 00:00:00  int64
 98   2016-04-07 00:00:00  int64
 99   2016-04-08 00:00:00  int64
 100  2016-04-09 00:00:00  int64
 101  2016-04-10 00:00:00  int64
 102  2016-04-11 00:00:00  int64
 103  2016-04-12 00:00:00  int64
 104  2016-04-13 00:00:00  int64
 105  2016-04-14 00:00:00  int64
 106  2016-04-15 00:00:00  int64
 107  2016-04-16 00:00:00  int64
 108  2016-04-17 00:00:00  int64
 109  2016-04-18 00:00:00  int64
 110  2016-04-19 00:00:00  int64
 111  2016-04-20 00:00:00  int64
 112  2016-04-21 00:00:00  int64
 113  2016-04-22 00:00:00  int64
 114  2016-04-23 00:00:00  int64
 115  2016-04-24 00:00:00  int64
 116  2016-04-25 00:00:00  int64
 117  2016-04-26 00:00:00  int64
 118  2016-04-27 00:00:00  int64
 119  2016-04-28 00:00:00  int64
 120  2016-04-29 00:00:00  int64
 121  2016-04-30 00:00:00  int64
 122  2016-05-01 00:00:00  int64
 123  2016-05-02 00:00:00  int64
 124  2016-05-03 00:00:00  int64
 125  2016-05-04 00:00:00  int64
 126  2016-05-05 00:00:00  int64
 127  2016-05-06 00:00:00  int64
 128  2016-05-07 00:00:00  int64
 129  2016-05-08 00:00:00  int64
 130  2016-05-09 00:00:00  int64
 131  2016-05-10 00:00:00  int64
 132  2016-05-11 00:00:00  int64
 133  2016-05-12 00:00:00  int64
 134  2016-05-13 00:00:00  int64
 135  2016-05-14 00:00:00  int64
 136  2016-05-15 00:00:00  int64
 137  2016-05-16 00:00:00  int64
 138  2016-05-17 00:00:00  int64
 139  2016-05-18 00:00:00  int64
 140  2016-05-19 00:00:00  int64
 141  2016-05-20 00:00:00  int64
 142  2016-05-21 00:00:00  int64
 143  2016-05-22 00:00:00  int64
 144  2016-05-23 00:00:00  int64
 145  2016-05-24 00:00:00  int64
 146  2016-05-25 00:00:00  int64
 147  2016-05-26 00:00:00  int64
 148  2016-05-27 00:00:00  int64
 149  2016-05-28 00:00:00  int64
 150  2016-05-29 00:00:00  int64
 151  2016-05-30 00:00:00  int64
 152  2016-05-31 00:00:00  int64
 153  2016-06-01 00:00:00  int64
 154  2016-06-02 00:00:00  int64
 155  2016-06-03 00:00:00  int64
 156  2016-06-04 00:00:00  int64
 157  2016-06-05 00:00:00  int64
 158  2016-06-06 00:00:00  int64
 159  2016-06-07 00:00:00  int64
 160  2016-06-08 00:00:00  int64
 161  2016-06-09 00:00:00  int64
 162  2016-06-10 00:00:00  int64
 163  2016-06-11 00:00:00  int64
 164  2016-06-12 00:00:00  int64
 165  2016-06-13 00:00:00  int64
 166  2016-06-14 00:00:00  int64
 167  2016-06-15 00:00:00  int64
 168  2016-06-16 00:00:00  int64
 169  2016-06-17 00:00:00  int64
 170  2016-06-18 00:00:00  int64
 171  2016-06-19 00:00:00  int64
 172  2016-06-20 00:00:00  int64
 173  2016-06-21 00:00:00  int64
 174  2016-06-22 00:00:00  int64
 175  2016-06-23 00:00:00  int64
 176  2016-06-24 00:00:00  int64
 177  2016-06-25 00:00:00  int64
 178  2016-06-26 00:00:00  int64
 179  2016-06-27 00:00:00  int64
 180  2016-06-28 00:00:00  int64
 181  2016-06-29 00:00:00  int64
 182  2016-06-30 00:00:00  int64
 183  2016-07-01 00:00:00  int64
 184  2016-07-02 00:00:00  int64
 185  2016-07-03 00:00:00  int64
 186  2016-07-04 00:00:00  int64
 187  2016-07-05 00:00:00  int64
 188  2016-07-06 00:00:00  int64
 189  2016-07-07 00:00:00  int64
 190  2016-07-08 00:00:00  int64
 191  2016-07-09 00:00:00  int64
 192  2016-07-10 00:00:00  int64
 193  2016-07-11 00:00:00  int64
 194  2016-07-12 00:00:00  int64
 195  2016-07-13 00:00:00  int64
 196  2016-07-14 00:00:00  int64
 197  2016-07-15 00:00:00  int64
 198  2016-07-16 00:00:00  int64
 199  2016-07-17 00:00:00  int64
 200  2016-07-18 00:00:00  int64
 201  2016-07-19 00:00:00  int64
 202  2016-07-20 00:00:00  int64
 203  2016-07-21 00:00:00  int64
 204  2016-07-22 00:00:00  int64
 205  2016-07-23 00:00:00  float64
 206  2016-07-24 00:00:00  int64
 207  2016-07-25 00:00:00  int64
 208  2016-07-26 00:00:00  int64
 209  2016-07-27 00:00:00  int64
 210  2016-07-28 00:00:00  int64
 211  2016-07-29 00:00:00  int64
 212  2016-07-30 00:00:00  int64
 213  2016-07-31 00:00:00  int64
 214  2016-08-01 00:00:00  int64
 215  2016-08-02 00:00:00  int64
 216  2016-08-03 00:00:00  int64
 217  2016-08-04 00:00:00  int64
 218  2016-08-05 00:00:00  int64
 219  2016-08-06 00:00:00  int64
 220  2016-08-07 00:00:00  int64
 221  2016-08-08 00:00:00  int64
 222  2016-08-09 00:00:00  int64
 223  2016-08-10 00:00:00  int64
 224  2016-08-11 00:00:00  int64
 225  2016-08-12 00:00:00  int64
 226  2016-08-13 00:00:00  int64
 227  2016-08-14 00:00:00  int64
 228  2016-08-15 00:00:00  int64
 229  2016-08-16 00:00:00  int64
 230  2016-08-17 00:00:00  int64
 231  2016-08-18 00:00:00  int64
 232  2016-08-19 00:00:00  int64
 233  2016-08-20 00:00:00  int64
 234  2016-08-21 00:00:00  int64
 235  2016-08-22 00:00:00  int64
 236  2016-08-23 00:00:00  int64
 237  2016-08-24 00:00:00  int64
 238  2016-08-25 00:00:00  int64
 239  2016-08-26 00:00:00  int64
 240  2016-08-27 00:00:00  int64
 241  2016-08-28 00:00:00  int64
 242  2016-08-29 00:00:00  int64
 243  2016-08-30 00:00:00  int64
 244  2016-08-31 00:00:00  int64
 245  2016-09-01 00:00:00  int64
 246  2016-09-02 00:00:00  int64
 247  2016-09-03 00:00:00  int64
 248  2016-09-04 00:00:00  int64
 249  2016-09-05 00:00:00  int64
 250  2016-09-06 00:00:00  int64
 251  2016-09-07 00:00:00  int64
 252  2016-09-08 00:00:00  int64
 253  2016-09-09 00:00:00  int64
 254  2016-09-10 00:00:00  int64
 255  2016-09-11 00:00:00  int64
 256  2016-09-12 00:00:00  int64
 257  2016-09-13 00:00:00  int64
 258  2016-09-14 00:00:00  int64
 259  2016-09-15 00:00:00  int64
 260  2016-09-16 00:00:00  int64
 261  2016-09-17 00:00:00  int64
 262  2016-09-18 00:00:00  int64
 263  2016-09-19 00:00:00  int64
 264  2016-09-20 00:00:00  int64
 265  2016-09-21 00:00:00  int64
 266  2016-09-22 00:00:00  int64
 267  2016-09-23 00:00:00  int64
 268  2016-09-24 00:00:00  int64
 269  2016-09-25 00:00:00  int64
 270  2016-09-26 00:00:00  int64
 271  2016-09-27 00:00:00  int64
 272  2016-09-28 00:00:00  int64
 273  2016-09-29 00:00:00  int64
 274  2016-09-30 00:00:00  int64
 275  2016-10-01 00:00:00  int64
 276  2016-10-02 00:00:00  int64
 277  2016-10-03 00:00:00  int64
 278  2016-10-04 00:00:00  int64
 279  2016-10-05 00:00:00  int64
 280  2016-10-06 00:00:00  int64
 281  2016-10-07 00:00:00  float64
 282  2016-10-08 00:00:00  float64
 283  2016-10-09 00:00:00  float64
 284  2016-10-10 00:00:00  float64
 285  2016-10-11 00:00:00  float64
 286  2016-10-12 00:00:00  float64
 287  2016-10-13 00:00:00  float64
 288  2016-10-14 00:00:00  float64
 289  2016-10-15 00:00:00  float64
 290  2016-10-16 00:00:00  float64
 291  2016-10-17 00:00:00  float64
 292  2016-10-18 00:00:00  float64
 293  2016-10-19 00:00:00  float64
 294  2016-10-20 00:00:00  float64
 295  2016-10-21 00:00:00  float64
 296  2016-10-22 00:00:00  float64
 297  2016-10-23 00:00:00  float64
 298  2016-10-24 00:00:00  float64
 299  2016-10-25 00:00:00  float64
 300  2016-10-26 00:00:00  float64
 301  2016-10-27 00:00:00  float64
 302  2016-10-28 00:00:00  float64
 303  2016-10-29 00:00:00  float64
 304  2016-10-30 00:00:00  float64
 305  2016-10-31 00:00:00  float64
 306  2016-11-01 00:00:00  float64
 307  2016-11-02 00:00:00  float64
 308  2016-11-03 00:00:00  float64
 309  2016-11-04 00:00:00  float64
 310  2016-11-05 00:00:00  float64
 311  2016-11-06 00:00:00  float64
 312  2016-11-07 00:00:00  float64
 313  2016-11-08 00:00:00  float64
 314  2016-11-09 00:00:00  float64
 315  2016-11-10 00:00:00  float64
 316  2016-11-11 00:00:00  float64
 317  2016-11-12 00:00:00  float64
 318  2016-11-13 00:00:00  float64
 319  2016-11-14 00:00:00  float64
 320  2016-11-15 00:00:00  float64
 321  2016-11-16 00:00:00  float64
 322  2016-11-17 00:00:00  float64
 323  2016-11-18 00:00:00  float64
 324  2016-11-19 00:00:00  float64
 325  2016-11-20 00:00:00  float64
 326  2016-11-21 00:00:00  float64
 327  2016-11-22 00:00:00  float64
 328  2016-11-23 00:00:00  float64
 329  2016-11-24 00:00:00  float64
 330  2016-11-25 00:00:00  float64
 331  2016-11-26 00:00:00  float64
 332  2016-11-27 00:00:00  float64
 333  2016-11-28 00:00:00  float64
 334  2016-11-29 00:00:00  float64
 335  2016-11-30 00:00:00  float64
 336  2016-12-01 00:00:00  float64
 337  2016-12-02 00:00:00  float64
 338  2016-12-03 00:00:00  float64
 339  2016-12-04 00:00:00  float64
 340  2016-12-05 00:00:00  float64
 341  2016-12-06 00:00:00  float64
 342  2016-12-07 00:00:00  float64
 343  2016-12-08 00:00:00  float64
 344  2016-12-09 00:00:00  float64
 345  2016-12-10 00:00:00  float64
 346  2016-12-11 00:00:00  float64
 347  2016-12-12 00:00:00  float64
 348  2016-12-13 00:00:00  float64
 349  2016-12-14 00:00:00  float64
 350  2016-12-15 00:00:00  float64
 351  2016-12-16 00:00:00  float64
 352  2016-12-17 00:00:00  float64
 353  2016-12-18 00:00:00  float64
 354  2016-12-19 00:00:00  float64
 355  2016-12-20 00:00:00  float64
 356  2016-12-21 00:00:00  float64
 357  2016-12-22 00:00:00  float64
 358  2016-12-23 00:00:00  float64
 359  2016-12-24 00:00:00  float64
 360  2016-12-25 00:00:00  float64
 361  2016-12-26 00:00:00  float64
 362  2016-12-27 00:00:00  float64
 363  2016-12-28 00:00:00  float64
 364  2016-12-29 00:00:00  float64
 365  2016-12-30 00:00:00  float64
 366  2016-12-31 00:00:00  float64
dtypes: float64(87), int64(279), object(1)
memory usage: 4.2+ MB
None

Our table has 1500 rows and 367 columns. To make working with the data easier, it will be best to reshape it so htat there are fewer columns.

In [12]:
# using pandas .melt(), unpivot the Wikipedia_2016 dataframe

Melted_Wikipedia = pd.melt(Wikipedia_2016, id_vars= "Page", var_name= "Date", value_name= "Visits")
print(Melted_Wikipedia.head())

                                                Page       Date  Visits
0        .xxx_en.wikipedia.org_all-access_all-agents 2016-01-01  7089.0
1        .xxx_en.wikipedia.org_mobile-web_all-agents 2016-01-01  6182.0
2        1._Juli_de.wikipedia.org_desktop_all-agents 2016-01-01    20.0
3  2014_FIFA_World_Cup_en.wikipedia.org_all-acces... 2016-01-01  5363.0
4  2014_FIFA_World_Cup_en.wikipedia.org_desktop_a... 2016-01-01  3186.0

Check the shape of our melted dataframe

In [13]:
Melted_Wikipedia.shape

(549000, 3)

At this point, we would want to know if our dataset contains any duplicate rows or missing values

In [14]:
# Check for contains duplicate entries

Melted_Wikipedia.duplicated().sum()

0

In [15]:
# Check for missing values
Melted_Wikipedia.isnull().sum()

Page       0
Date       0
Visits    87
dtype: int64

The next few steps would involve some feature engineering that is necessary to enable us answer the given questions
1. Add a column that tells us what day of the week a webpage was visited
2. A column with the information on the language a page was written in
3. What device was used in a search

In [17]:
# 1. Create a new column "Day" whose value is the day of the week a search occured

Melted_Wikipedia['Day'] = pd.to_datetime(Melted_Wikipedia['Date']).dt.day_name()
Melted_Wikipedia.head()

,Page,Date,Visits,Day
0,.xxx_en.wikipedia.org_all-access_all-agents,2016-01-01,7089.0,Friday
1,.xxx_en.wikipedia.org_mobile-web_all-agents,2016-01-01,6182.0,Friday
2,1._Juli_de.wikipedia.org_desktop_all-agents,2016-01-01,20.0,Friday
3,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,2016-01-01,5363.0,Friday
4,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,2016-01-01,3186.0,Friday

A column for languages;
* One may infer which language a page is written in based on the page name
e.g. Special:Search_fr.wikipedia.org_all-access_all-agents is written in French and Special:Book_en.wikipedia.org_all-access_spider is written in English.

In [19]:
# 2a. Using .search() method of the Regex module, define a function that returns the 2 letters that represent the langauge of the page (eg., en for English), or "na" if language is not found
# 2b. Use .map() to call the defined function on the 'Page' column of the dataframe
# 2b. Using Counter, get the counts for each language

def get_language(page):
    res = re.search('[a-z][a-z].wikipedia.org',page)
    if res:
        return res[0][0:2]
    return 'na'

Melted_Wikipedia['Language'] = Melted_Wikipedia.Page.map(get_language)


print(Counter(Melted_Wikipedia.Language))

Counter({'en': 418338, 'ja': 44286, 'es': 28914, 'de': 14274, 'ru': 13176, 'fr': 12444, 'zh': 11346, 'na': 6222})

A column for devices;
For some of the pages in the dataset, it is possible to distinguish whether the visits to the page came from a desktop or a mobile device.
For example, consider Barack Obama's wikipedia page:
* Barack_Obama_en.wikipedia.org_desktop_all-agents : these visits came from desktop devices.
* Barack_Obama_en.wikipedia.org_mobile-web_all-agents: these visits came from mobile devices.

In [20]:
# 3a. Define a function using re to get the name of the device used to visit a web page
# 3b. Create the new column "device"
# 3c. Count the number of searches from each device

def get_device(page):
    dev = re.search('all-access|mobile-web|desktop',page)
    if dev:
        return dev[0][0:10]
    return 'na'

Melted_Wikipedia['Device'] = Melted_Wikipedia.Page.map(get_device)


print(Counter(Melted_Wikipedia.Device))

Counter({'all-access': 342210, 'mobile-web': 107604, 'desktop': 99186})

In [21]:
# Drop all missing values
Melted_Wikipedia.dropna(how= 'any', inplace = True)

In [22]:
# Take a look at the resulting dataframe
display(Melted_Wikipedia)

,Page,Date,Visits,Day,Language,Device
0,.xxx_en.wikipedia.org_all-access_all-agents,2016-01-01,7089.0,Friday,en,all-access
1,.xxx_en.wikipedia.org_mobile-web_all-agents,2016-01-01,6182.0,Friday,en,mobile-web
2,1._Juli_de.wikipedia.org_desktop_all-agents,2016-01-01,20.0,Friday,de,desktop
3,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,2016-01-01,5363.0,Friday,en,all-access
4,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,2016-01-01,3186.0,Friday,en,desktop
...,...,...,...,...,...,...
548995,Zac_Efron_en.wikipedia.org_all-access_all-agents,2016-12-31,13146.0,Saturday,en,all-access
548996,Zayn_Malik_en.wikipedia.org_all-access_all-agents,2016-12-31,12597.0,Saturday,en,all-access
548997,Zendaya_en.wikipedia.org_all-access_all-agents,2016-12-31,6217.0,Saturday,en,all-access
548998,Zendaya_en.wikipedia.org_mobile-web_all-agents,2016-12-31,4650.0,Saturday,en,mobile-web
548999,Zodiac_Killer_en.wikipedia.org_all-access_all-...,2016-12-31,6659.0,Saturday,en,all-access

Convert the dataframe into an excel spreadsheet

In [23]:
# Use pd.to_excel()

Melted_Wikipedia.to_excel('Final_Wikipedia.xlsx')

Load the data into a SQL database
* sqlite3 has already been imported

In [24]:
# Read the data from the excel spreadsheet into a pandas dataframe

Wiki_sql = pd.read_excel('Final_Wikipedia.xlsx', header=0, index_col=0)

Create a new SQLite database connection object and assign it to a variable

In [25]:

db_connection = sqlite3.connect("wikipedia.db")

Establish a cursor object

In [26]:
cursor = db_connection.cursor()

Create the database tables:
Run c.execute() that takes in the SQL code that creates the database table as a string

In [ ]:
cursor.execute(
    """
    CREATE TABLE Wikipedia(
        date INTEGER,
        page TEXT NOT NULL,
        visits INTEGER,
        day TEXT NOT NULL,
        language TEXT NOT NULL,
        device TEXT NOT NULL
    );
"""
)

Populate the database

In [28]:
Wiki_sql.to_sql('Wikipedia',db_connection, if_exists='append', index=False)

You can query the database using .read_sql() to see

In [29]:
# Use pd.read_sql to show the first 10 rows from Wikepedia
pd.read_sql('SELECT * FROM Wikipedia LIMIT 10', db_connection)

,date,page,visits,day,language,device
0,2016-01-01 00:00:00,.xxx_en.wikipedia.org_all-access_all-agents,7089,Friday,en,all-access
1,2016-01-01 00:00:00,.xxx_en.wikipedia.org_mobile-web_all-agents,6182,Friday,en,mobile-web
2,2016-01-01 00:00:00,1._Juli_de.wikipedia.org_desktop_all-agents,20,Friday,de,desktop
3,2016-01-01 00:00:00,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,5363,Friday,en,all-access
4,2016-01-01 00:00:00,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,3186,Friday,en,desktop
5,2016-01-01 00:00:00,2014_FIFA_World_Cup_en.wikipedia.org_mobile-we...,2136,Friday,en,mobile-web
6,2016-01-01 00:00:00,2015_Copa_AmÃ©rica_en.wikipedia.org_all-access...,1160,Friday,en,all-access
7,2016-01-01 00:00:00,2015_Copa_AmÃ©rica_en.wikipedia.org_desktop_al...,564,Friday,en,desktop
8,2016-01-01 00:00:00,2015_Copa_AmÃ©rica_en.wikipedia.org_mobile-web...,580,Friday,en,mobile-web
9,2016-01-01 00:00:00,2015_in_film_en.wikipedia.org_all-access_all-a...,54347,Friday,en,all-access